<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Run (1).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-7}</string>
			<key>spriteSize</key>
			<string>{292,438}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{1,441},{292,438}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Run (2).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{15,-4}</string>
			<key>spriteSize</key>
			<string>{294,426}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{1463,439},{294,426}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Run (3).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{26,5}</string>
			<key>spriteSize</key>
			<string>{288,398}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{881,873},{288,398}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Run (4).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{15,-4}</string>
			<key>spriteSize</key>
			<string>{294,424}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{1463,867},{294,424}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Run (5).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,-7}</string>
			<key>spriteSize</key>
			<string>{294,438}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{1,1},{294,438}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Run (6).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{15,-5}</string>
			<key>spriteSize</key>
			<string>{292,432}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{1,881},{292,432}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Run (7).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{22,2}</string>
			<key>spriteSize</key>
			<string>{290,410}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{1171,871},{290,410}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Run (8).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{15,-5}</string>
			<key>spriteSize</key>
			<string>{292,432}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{295,881},{292,432}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk (1).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-23,-7}</string>
			<key>spriteSize</key>
			<string>{290,438}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{297,1},{290,438}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk (10).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-26,-6}</string>
			<key>spriteSize</key>
			<string>{290,436}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{589,1},{290,436}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk (2).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-26,-4}</string>
			<key>spriteSize</key>
			<string>{290,436}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{881,1},{290,436}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk (3).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-28,0}</string>
			<key>spriteSize</key>
			<string>{290,430}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{1171,439},{290,430}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk (5).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-26,-4}</string>
			<key>spriteSize</key>
			<string>{290,434}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{1465,1},{290,434}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk (6).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-23,-7}</string>
			<key>spriteSize</key>
			<string>{290,438}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{295,441},{290,438}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk (7).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-26,-6}</string>
			<key>spriteSize</key>
			<string>{290,436}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{1173,1},{290,436}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk (8).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-28,-2}</string>
			<key>spriteSize</key>
			<string>{290,432}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{587,441},{290,432}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>Walk (9).png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-28,-2}</string>
			<key>spriteSize</key>
			<string>{290,432}</string>
			<key>spriteSourceSize</key>
			<string>{542,474}</string>
			<key>textureRect</key>
			<string>{{879,439},{290,432}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>cat_walk.png</string>
		<key>size</key>
		<string>{1758,1314}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1c22c9ff476d8e314e221aa9ef395d91:1ff9792bbef662ffeb7b41ce00d63d0d:aefb44b9553e2f530577830b49581887$</string>
		<key>textureFileName</key>
		<string>cat_walk.png</string>
	</dict>
</dict>
</plist>
